<p>Nombre Jugador: {{character.name}}</p>
<p>stats: Level: {{character.level}}</p>


<p>Vida: {{character.health}}</p>
<p>Ataque: {{character.attack}}</p>
<p>Suerte: {{character.luck}}</p>

<div>
  <p>Inventory: </p>
  <table>
    <tr *ngFor="let InventoryItem of InventoryItems">
      <!-- <ng-container *ngIf="!producto.privado"> -->
      <td>Item: {{ InventoryItem.name }} x{{InventoryItem.quantity}}</td>
      

      
      <!-- </ng-container> -->
    </tr>
  </table>
  <br>
</div>
<div>
  <button (click)="startBattle(character._id,character.userId)">Start Battle</button><br><br>
  <button (click)="goBack(character.userId)">Go Back</button>
</div>