<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Character Details</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Concert+One&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container" id="cBattle">
      <div *ngIf="resultado; else resultado0" class="alert alert-success">
        {{ resultado }}
      </div>
      <ng-template #resultado0>
        <div class="alert alert-warning" id="alerta">0 de daño</div>
      </ng-template>
      <div class="container" id="sMonster">
        <p>ENEMIGO: {{ monster.name | titlecase }}</p>
        <p>Health: {{ monster.health }}</p>
        <p>Attack: {{ monster.attack }}</p>
      </div>
      <!--<p>Datos monstruo:{{monster | json}}</p>-->
      <img
        src="../../../assets/images/{{ randomImagen }}.png"
        alt="Imagen del monstruo {{ monster.name }}"
        class="img-fluid"
      />
      <br />
      <!--<p>Datos Jugador: {{character | json}}</p>-->
      <div class="container" id="sCharacter">
        <p>JUGADOR: {{ character.name | titlecase }}</p>
        <p>Health: {{ vidaPersonaje }}</p>
        <p>Attack: {{ fuerzaPersonaje }}</p>
        <p>Luck: {{ suertePersonaje }}</p>
      </div>

      <br /><br />
      <div class="container" id="buttons">
        <button (click)="lightAttack()" class="btn btn-danger">
          Light Attack</button
        >&nbsp;
        <button (click)="mediumAttack()" class="btn btn-danger">
          Medium Attack</button
        >&nbsp;
        <button (click)="heavyAttack()" class="btn btn-danger">
          Heavy Attack</button
        >&nbsp;
        <button (click)="getInventoryItem()" class="btn btn-warning">
          Item
        </button>
      </div>
      <br />
      <table *ngIf="mostrarInventory" class="table" id="tableItems">
        <tr *ngFor="let InventoryItem of InventoryItems">
          <td>
            {{ InventoryItem.name }} - Cantidad: {{ InventoryItem.quantity }}
          </td>
          <td>
            <button
              (click)="usarItem(InventoryItem._id)"
              class="btn btn-warning">
              Usar
            </button>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
