body {
  background-image: url(https://i.imgur.com/qlgoLVk.png);
  font-family: "Concert One", cursive;
}

#cMonsters {
  border: black 5px outset;
  font-family: "Concert One", cursive;
  margin-top: 30px;
  width: 45%;
  border-radius: 15px;
  padding: 4%;
  background-image: url(https://static.vecteezy.com/system/resources/previews/022/152/391/non_2x/laugh-monster-with-one-leg-in-pixel-art-style-vector.jpg);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

#cAdmin {
  border: black 5px outset;
  background-color: whitesmoke;
  width: 40%;
  padding: 8%;
  margin: auto;
  border-radius: 15px;
  font-family: "Concert One", cursive;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#cItems {
  border: black 5px outset;
  background-image: url(https://c8.alamy.com/comp/2BE6FR7/pixel-art-vector-illustration-icon-set-golden-yellow-objects-for-game-sprites-coin-gem-diamond-start-heart-isolated-items-on-white-2BE6FR7.jpg);
  width: 40%;
  padding: 8%;
  margin: auto;
  border-radius: 15px;
  font-family: "Concert One", cursive;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#cIndex {
  border: black 5px outset;
  background-image: url(https://snag.gy/CN1vH.jpg);
  background-size: cover;
  width: 40%;
  padding: 8%;
  margin: auto;
  border-radius: 15px;
  font-family: "Concert One", cursive;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
